.timeline {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.timeline-item {
  width: 100%;
}

.timeline-item.left .timeline-year {
  text-align: left;
}

.timeline-item.right .timeline-year {
  text-align: right;
}

.timeline-description {
  flex: 1;
}

@media (max-width: 768px) {
  .fs-5 {
    font-size: 1rem !important;
  }

  .fs-4 {
    font-size: 1.1rem !important;
  }

  .display-5 {
    font-size: 2rem;
  }
}
